---
import { Picture } from 'astro:assets';
import img from '~/assets/mountains-8314422.svg';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout title="About" description="About this site." currentNav="About">
  <Picture
    class="lg:float-right lg:ml-4 lg:w-2/5"
    src={img}
    formats={["avif", "webp"]}
    alt="mountains"
  />
  <p>
    Text placeholder via <a href="https://jeffsum.com/" target="_blank"
      >Jeffsum</a
    >.
  </p>

  Hey, I am <span style="color: #cb5c40;">Vijayabaskar</span>, a Full Stack
  Developer from India. Passionate about breaking and building things from a
  young age, I have always been fascinated by understanding how things work and
  rebuilding them. Programming became my ultimate playground for this curiosity.
  I tackle challenges head-on, always finding solutions even in uncharted
  territories. As a tech enthusiast, I stay updated with the latest trends. My
  team-oriented and friendly nature allows me to fit seamlessly into any
  collaborative environment. I love engaging in nerdy conversations about tech,
  morals, philosophy, and anime. Let's connect to build awesome stuff and have
  crazy nerdy talks!
  <a href="mailto://vj2k02@gmail.com">Email</a>
  <a href="https://github.com/Vijayabaskar56">GitHub</a>
  <a href="https://linkedin.com/in/vijaya-baskar">LinkedIn</a>
</MarkdownLayout>
