---
import RiveComponent from "~/components/RiveComponent.astro";
import { SiteDescription, SiteTitle } from "~/config";
import MarkdownLayout from "~/layouts/MarkdownLayout.astro";
---

<MarkdownLayout
  title={SiteTitle}
  description={SiteDescription}
  hide={["title", "comments"]}
  currentNav="Home"
>
  <div class="flex flex-col items-center justify-evenly xl:flex-row">
    <!-- <Picture
      class="lg:max-w-md"
      src={img}
      formats={["avif", "webp"]}
      alt="a dog"
      loading="eager"
    /> -->
    <RiveComponent />
    <div>
      <p class="sm:text-2xl text-xl">
        <span>👋</span> Hey I am <span
          style="color: #cb5c40;"
          class="md:text-4xl text-2xl">Vijayabaskar</span
        >,
        <br />
        a Full Stack Developer from India
        <a href="about">(more)</a>
      </p>
      <br />

      <!-- <p>
        This is a blog template built with <a href="https://astro.build"
          >Astro</a
        >. The theme originates from <a
          href="https://github.com/varkai/hugo-theme-zozo">hugo-theme-zozo</a
        >. Check out <a href="/posts/getting-started">the docs</a> to get started.
        Here are some features:
      </p> -->
    </div>
  </div>
</MarkdownLayout>
